body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mdl-layout__header .mdl-layout__header-row {
  padding-left: 20px;
}

.loadingIndicator {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
